{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather in Algeria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}"/>
</head>

<body>
    <ul> 
        <li><a href="" > Welcome to My Weather App</a></li>
        
    </ul>
    <div class="dog">
        <form method="post">
            {% csrf_token %} 
            <input type="text" name="city" placeholder="Search for your city" >
            <button type="submit">Find</button> 
        </form>

    </div>
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}
    {% if city_weather %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <h1 class="title has-text-centered">Weather in {{ city_weather.City }}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.Icon }}.png" alt="Weather Icon">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.City }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.Temperature }}° C</span>
                                        <br>{{ city_weather.Description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <footer class="footer">
        <center>
            <p class="pa">
                Made by Altos.py
            </p>

        </center>

        
    </footer>
</body>

</html>

